<!DOCTYPE html>
<html>
<head>
    <title>Web App</title>
    <link href="../templates/fragments/css/main.css" rel="stylesheet" type="text/css">
    <link href="../templates/fragments/css/bootstrap.min.css" rel="stylesheet">
    <h1>Gecoding Service</h1>
</head>
<body>
    <h3>  Please upload your XSL file. The values containing addresses should be in a column named address or Address</h3>
    <div class="message">
    </div>
    <form action="{{url_for('success')}}" method="POST" enctype="multipart/form-data">
        <!-- <input type="file" accept=".xls" name="file"> -->
		<div class="col-lg-6 col-sm-6 col-12" style="margin-left: 300px;">
            <div class="input-group" >
                <label class="input-group-btn" >
                    <span class="btn btn-primary" >
                        Browse&hellip; <input type="file" style="display: none;" multiple>
                    </span>
                </label>
                <input type="text" style ="margin: 10px;" class="form-control" readonly>
            </div>
        <button type="submit" class="btn btn-primary"> Submit </button>
    </form>
    <div class="output">
        <h3>{{ text | safe }}</h3>
        {% include btn ignore missing %}
    </div>
	<script src="../templates/fragments/js/bootstrap.min.js"></script>
	<script src="../templates/fragments/js/jquery-3.3.1.min.js"></script>
	<script src="../templates/fragments/js/browser.js"></script>
	</body>
</html>
